*{
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    width: 100%;
    height: 100%;
    background-color: rgba(229, 229, 229, 0.621);
}
.body_calculator{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    width: 400px;
    height: 600px;
    border-radius: 40px;
    background-color: #fff;
}
.theme{
    margin: 10px 0px;
}
.theme button{
    height: 32px;
    width: 100px;
    border: 1px solid ;
    cursor: pointer;
}
.theme .firt{
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.theme .second{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 90%;
    height: 30%;
    background-color: rgb(249,249,249);
}
.display h2{
    margin: 5px 20px;
    font-size: 48px;
    font-weight: 500;
}
.display h4{
    margin-right: 20px;
    font-size: 32px;
    font-weight: 500;
}
.keyboard{
    width: 90%;
    height: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    width: 90%;
    height: 22%;
}
.line input{
    width: 22%;
    background-color: rgb(247,247,247);
    border-color: rgb(247,247,247);
}
.signals{
    color: rgb(209, 124, 128);
}


/*Modo Dark CSS*/
.body_dark {
    background-color: rgb(8,7,19);
}
.body_calculator_dark{
    background-color: rgb(16,15,32);
    color: white;
}
.display_dark{
    background-color: rgb(23, 20, 60);
}

.keyboard .button_dark {
    background-color: rgb(23, 20, 60);  
    color: #fff;
}

.theme .button_dark{
    background-color: rgb(23, 20, 60);  
    color: #fff;
}
